<!--p>See on alumine komponent...</p-->

<div class="frame-811722">
<div class="frame-811719">
  <div class="dokumendid-ja-juhiload">
    <div class="rectangle-290"></div>
    <div class="frame-811485">
      <div class="frame-811393">
        <div class="efektiivsus">Olukord efektiivsusega</div>
        <div
          class="effetekst"
        >
          {{getEfektText()}}
        </div>
      </div>
    </div>
  </div>
  <div class="dokumendid-ja-juhiload">
    <div class="rectangle-290"></div>
    <div class="frame-811485">
      <div class="frame-811393">
        <div class="makspealkiri">Olukord maksevõimega</div>
        <div
          class="makstekst"
        >
        {{getMakseText()}}
        </div>
      </div>
    </div>
  </div>
  <div class="dokumendid-ja-juhiload">
    <div class="rectangle-2902"></div>
    <div class="frame-811485">
      <div class="frame-811393">
        <div class="toojoupealkiri">Olukord tööjõu tootlikkusega</div>
        <div class="toojoutekst">
          Ettevõttel pole maksevõimet.
        </div>
      </div>
    </div>
  </div>
  <!--div class="buttons-primary-icon-enabled">
    <div class="vaata-l-hemalt">Vaata tehnilist infot</div>
  </div-->
</div>
<div class="frame-811721">
  <div class="dokumendid-ja-juhiload">
    <div class="rectangle-2903"></div>
    <div class="frame-811485">
      <div class="frame-811393">
        <div class="finvoimpealkiri">Olukord finantsvõimendusega</div>
        <div
          class="finvoimtekst"
        >
          Ettevötte rentaablus ei ole turul toimetulekut voimaldav. Samas võib antud rentaablusega tulla toime ja muude soodsate asjaolude        </div>
      </div>
    </div>
  </div>
  <div class="dokumendid-ja-juhiload">
    <div class="rectangle-2903"></div>
    <div class="frame-811485">
      <div class="frame-811393">
        <div class="tasuvuspealkiri">
          Olukord tasuvusega
        </div>
        <div
          class="tasuvustekst"
        >
          Ettevõtte bilansi struktuur on väga norgapoolne. Samas on lootust, et äritegevuse paranedes muutub ka bilansi struktuur paremaks. Kunstikke muudatusi ise esile kutsuda vaja ei ole.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>  

{{callFun()}}